*   {
    box-sizing: border-box;
    padding: 0;
    margin:0;
}
body{
    background-color: rgb(215, 232, 236);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 750px;
}
.container{
display: flex;
justify-content: center;
flex-wrap: wrap;

}
.card{
    width: 270px;
    margin: 10px;
    border-radius: 15px;
}
.card-image{
    height: 190px;
    margin-bottom: 15px;
    background-size: cover;
    border-radius: 15px 15px 0 0;

}
.song-1 {
    background-image: url(https://images.genius.com/1c3c2c3c2c6ead79bb98e638c84b8a7b.1000x1000x1.jpg );

}
.song-2{
    background-image: url(https://upload.wikimedia.org/wikipedia/az/4/43/A%C5%9F%C4%B1q_%C6%8Fl%C9%99sg%C9%99r_%28r%C9%99ssam_Nail%C9%99_%C6%8Fl%C9%99sg%C9%99rova%29.jpg);
}

.song-3{
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS7RjiguooaOqRvv-uMAKeRPVCNwwcecrggNA&usqp=CAU);
}

.card h2{
    padding:10px;
    text-align: center;
   

}
.card p{
padding: 10px;
text-align: center;
}
 .card a{
    background-color: green;
    color: white;
    padding: 15px 20px;
    display: block;
    text-align: center;
    margin: 20px 50px;
    text-decoration: none;
    border-radius: 15px;
 }

 .card:hover{
    background-color: rgb(180, 218, 236);
    color: rgb(56, 86, 220);
    cursor:pointer;
    transform: scale(1.03);
    transition: all 1s ease;
 }